@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0c062a;
    overflow: hidden;
    font-family: 'Darumadrop One';
    color: #fff;
}

.rainbow-text {
    font-size: 100px;
    margin: -30px 0 0 0;
    color: #EEE5E9;
}

canvas {
    border: 10px solid #fff;
}

.stats-box {
    background-color: #23045a;
    height: 250px;
    width: 1000px;
    border: 10px solid #ffffff;
    margin-top: 20px;
    margin-bottom: 100px;
}

.stat-container {
    display: flex;
    justify-content: space-between;
    margin: 120px 30px 0 30px;
  }
  .stat-bar-bg {
    background: #06400d;
    width: 200px;
    height: 20px;
    border: 4px solid #ffffff;
    margin-bottom: 8px;
  }
  .stat-bar {
    height: 100%;
    background: linear-gradient(90deg, #4bff04, #e9fda0);
    width: 50%; /* dynamically set by JS */
    transition: width 0.3s;
  }
  .stat-name {
    color: #fff;
    font-size: 30px;
  }

  p {
    color: #fff;
    font-size: 30px;
    height: 40px;
    text-overflow: ellipsis;
    margin: 20px 20px -40px 20px;
  }

  .color-picker {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: -20px 0 10px 0;
  }